{% import 'authenticamplify/_macros/_components' as renderComponent %}

{% switch block.type.handle %}

  {% case 'contact1' %}

    {{
      renderComponent.contact1({
        contact1HeadingText: block.ampContactHeadingText,
        contact1TextContent: block.ampContactTextContent,
        contact1FormSide: block.ampContactFormSide,
        contact1FormHandle: block.ampContactForm.one().handle
      })
    }}

  {% case 'content1' %}

    {{
      renderComponent.content1({
        content1SectionTitle: block.ampContentSectionTitle,
        content1HeadingText: block.ampContentHeadingText,
        content1TextColumnsTwoThree: block.ampContentTextColumnsTwoThree,
        content1TextContent: block.ampContentTextContent,
        content1CtaText: block.ampContentCtaText,
        content1CtaLink: block.ampContentCtaLink
      })
    }}

  {% case 'content2' %}

    {{
      renderComponent.content2({
        content2SectionTitle: block.ampContentSectionTitle,
        content2HeadingText: block.ampContentHeadingText,
        content2TextContent: block.ampContentTextContent,
        content2CtaText: block.ampContentCtaText,
        content2CtaLink: block.ampContentCtaLink
      })
    }}

  {% case 'content3' %}

    {{
      renderComponent.content3({
        content3SectionTitle: block.ampContentSectionTitle,
        content3HeadingText: block.ampContentHeadingText,
        content3TextColumnsOneTwo: block.ampContentTextColumnsOneTwo,
        content3TextContent: block.ampContentTextContent,
        content3CtaText: block.ampContentCtaText,
        content3CtaLink: block.ampContentCtaLink
      })
    }}

  {% case 'contentImage1' %}

    {{
      renderComponent.contentImage1({
        contentImage1SquareImage: block.ampContentImageSquareImage,
        contentImage1SectionTitle: block.ampContentImageSectionTitle,
        contentImage1HeadingText: block.ampContentImageHeadingText,
        contentImage1TextContent: block.ampContentImageTextContent,
        contentImage1CtaText: block.ampContentImageCtaText,
        contentImage1CtaLink: block.ampContentImageCtaLink
      })
    }}

  {% case 'contentImage2' %}

    {{
      renderComponent.contentImage2({
        contentImage2SectionTitle: block.ampContentImageSectionTitle,
        contentImage2HeadingText: block.ampContentImageHeadingText,
        contentImage2TextContent: block.ampContentImageTextContent,
        contentImage2CtaText: block.ampContentImageCtaText,
        contentImage2CtaLink: block.ampContentImageCtaLink,
        contentImage2TallImages: block.ampContentImageTallImages
      })
    }}

  {% case 'contentImage3' %}

    {{
      renderComponent.contentImage3({
        contentImage3SectionTitle: block.ampContentImageSectionTitle,
        contentImage3HeadingText: block.ampContentImageHeadingText,
        contentImage3TextContent: block.ampContentImageTextContent,
        contentImage3CtaText: block.ampContentImageCtaText,
        contentImage3CtaLink: block.ampContentImageCtaLink,
        contentImage3TallImages: block.ampContentImageTallImages
      })
    }}

  {% case 'contentImage4' %}

    {{
      renderComponent.contentImage4({
        contentImage4SectionTitle: block.ampContentImageSectionTitle,
        contentImage4FirstImageSide: block.ampContentImageFirstImageSide,
        contentImage4TallImgItems: block.ampContentImageTallImgItems
      })
    }}

  {% case 'contentImage5' %}

    {{
      renderComponent.contentImage5({
        contentImage5SectionTitle: block.ampContentImageSectionTitle,
        contentImage5SquareImageItems: block.ampContentImageSquareImageItems
      })
    }}

  {% case 'contentWithLinks1' %}

    {{
      renderComponent.contentWithLinks1({
        contentLinks1SectionTitle: block.ampContentLinksSectionTitle,
        contentLinks1HeadingText: block.ampContentLinksHeadingText,
        contentLinks1TextContent: block.ampContentLinksTextContent,
        contentLinks1Links: block.ampContentLinksLinks,
        contentLinks1CtaText: block.ampContentLinksCtaText,
        contentLinks1CtaLink: block.ampContentLinksCtaLink
      })
    }}

  {% case 'contentWithLinks2' %}

    {{
      renderComponent.contentWithLinks2({
        contentLinks2SectionTitle: block.ampContentLinksSectionTitle,
        contentLinks2HeadingText: block.ampContentLinksHeadingText,
        contentLinks2TextContent: block.ampContentLinksTextContent,
        contentLinks2Links: block.ampContentLinksLinks,
        contentLinks2CtaText: block.ampContentLinksCtaText,
        contentLinks2CtaLink: block.ampContentLinksCtaLink
      })
    }}

  {% case 'contentWithLinks3' %}

    {{
      renderComponent.contentWithLinks3({
        contentLinks3SectionTitle: block.ampContentLinksSectionTitle,
        contentLinks3HeadingText: block.ampContentLinksHeadingText,
        contentLinks3TextContent: block.ampContentLinksTextContent,
        contentLinks3Links: block.ampContentLinksLinks,
        contentLinks3CtaText: block.ampContentLinksCtaText,
        contentLinks3CtaLink: block.ampContentLinksCtaLink
      })
    }}

  {% case 'cta1' %}

    {{
      renderComponent.cta1({
        cta1BackgroundImage: block.ampCtaBackgroundImage,
        cta1HeadingText: block.ampCtaHeadingText,
        cta1TextContent: block.ampCtaTextContent,
        cta1CtaText: block.ampCtaCtaText,
        cta1CtaLink: block.ampCtaCtaLink
      })
    }}

  {% case 'cta2' %}

    {{
      renderComponent.cta2({
        cta2Image: block.ampCtaImage,
        cta2HeadingText: block.ampCtaHeadingText,
        cta2TextContent: block.ampCtaTextContent,
        cta2CtaText: block.ampCtaCtaText,
        cta2CtaLink: block.ampCtaCtaLink
      })
    }}

  {% case 'cta3' %}

    {{
      renderComponent.cta3({
        cta3HeadingText: block.ampCtaHeadingText,
        cta3TextContent: block.ampCtaTextContent,
        cta3CtaText: block.ampCtaCtaText,
        cta3CtaLink: block.ampCtaCtaLink
      })
    }}

  {% case 'ctaEmail1' %}

    {{
      renderComponent.ctaEmail1({
        ctaEmail1HeadingText: block.ampCtaEmailHeadingText,
        ctaEmail1TextContent: block.ampCtaEmailTextContent,
        ctaEmail1PlaceholderText: block.ampCtaEmailPlaceholderText,
        ctaEmail1SubmitButtonText: block.ampCtaEmailSubmitButtonText
      })
    }}

  {% case 'ctaEmail2' %}

    {{
      renderComponent.ctaEmail2({
        ctaEmail2HeadingText: block.ampCtaEmailHeadingText,
        ctaEmail2TextContent: block.ampCtaEmailTextContent,
        ctaEmail2PlaceholderText: block.ampCtaEmailPlaceholderText,
        ctaEmail2SubmitButtonText: block.ampCtaEmailSubmitButtonText
      })
    }}

  {% case 'footerColumns' %}

    {{
      renderComponent.footerColumns({
        footerColsColumnOneText: block.ampFooterColumnOneText,
        footerColsColumnTwoText: block.ampFooterColumnTwoText,
        footerColsColumnThreeText: block.ampFooterColumnThreeText,
        footerColsSocialLinks: block.ampFooterSocialLinks
      })
    }}

  {% case 'footerContacts' %}

    {{
      renderComponent.footerContacts({
        footerContactsHeadingText: block.ampFooterHeadingText,
        footerContacts: block.ampFooterContacts
      })
    }}

  {% case 'footerLogos' %}

    {{
      renderComponent.footerLogos({
        footerLogos: block.footerLogos
      })
    }}

  {% case 'gallery1' %}

    {{
      renderComponent.gallery1({
        gallery1ImageSlides: block.ampGalleryImageSlides
      })
    }}

  {% case 'gallery2' %}

    {{
      renderComponent.gallery2({
        gallery2WideImageSlides: block.ampGalleryWideImageSlides
      })
    }}

  {% case 'gallery3' %}

    {{
      renderComponent.gallery3({
        gallery3WideImageSlides: block.ampGalleryWideImageSlides
      })
    }}

  {% case 'gallery4' %}

    {{
      renderComponent.gallery4({
        gallery4WideImageSlides: block.ampGalleryWideImageOnlySlides
      })
    }}

  {% case 'gallery5' %}

    {{
      renderComponent.gallery5({
        gallery5SquareImageSlides: block.ampGallerySquareImageSlides
      })
    }}

  {% case 'hero1' %}

    {{
      renderComponent.hero1({
        hero1ImageSlides: block.ampHeroImageSlides
      })
    }}

  {% case 'hero2' %}

    {{
      renderComponent.hero2({
        hero2BgImageSlides: block.ampHeroBgImageSlides
      })
    }}

  {% case 'hero3' %}

    {{
      renderComponent.hero3({
        hero3BgImageSlides: block.ampHeroBgImageSlides
      })
    }}

  {% case 'hero4' %}

    {{
      renderComponent.hero4({
        hero4SquareImageSlides: block.ampHeroSquareImageSlides
      })
    }}

  {% case 'hero5' %}

    {{
      renderComponent.hero5({
        hero5RectImageSlides: block.ampHeroRectImageSlides
      })
    }}

  {% case 'hero6' %}

    {{
      renderComponent.hero6({
        hero6WideImageSlides: block.ampHeroWideImageSlides
      })
    }}

  {% case 'icons1' %}

    {{
      renderComponent.icons1({
        icons1SectionTitle: block.ampIconsSectionTitle,
        icons1HeadingText: block.ampIconsHeadingText,
        icons1SubheadingText: block.ampIconsSubheadingText,
        icons1IconItems: block.ampIconsIconItems
      })
    }}

  {% case 'icons2' %}

    {{
      renderComponent.icons2({
        icons2SectionTitle: block.ampIconsSectionTitle,
        icons2HeadingText: block.ampIconsHeadingText,
        icons2SubheadingText: block.ampIconsSubheadingText,
        icons2IconItems: block.ampIconsIconItems
      })
    }}

  {% case 'icons3' %}

    {{
      renderComponent.icons3({
        icons3SectionTitle: block.ampIconsSectionTitle,
        icons3HeadingText: block.ampIconsHeadingText,
        icons3SubheadingText: block.ampIconsSubheadingText,
        icons3IconItems: block.ampIconsIconItems
      })
    }}

  {% case 'icons4' %}

    {{
      renderComponent.icons4({
        icons4IconItems: block.ampIconsIconItems
      })
    }}

  {% case 'imageCards1' %}

    {{
      renderComponent.imageCards1({
        imageCards1Cards: block.ampImageCardsTallImageCards
      })
    }}

  {% case 'imageCards2' %}

    {{
      renderComponent.imageCards2({
        imageCards2Cards: block.ampImageCardsWideImageCards
      })
    }}

  {% case 'imageCards3' %}

    {{
      renderComponent.imageCards3({
        imageCards3LargeImageCards: block.ampImageCardsLargeImageCards,
        imageCards3TallImageCards: block.ampImageCardsTallImageCards
      })
    }}

  {% case 'imageCards4' %}

    {{
      renderComponent.imageCards4({
        imageCards4Cards: block.ampImageCardsRectImageCards
      })
    }}

  {% case 'keyIntro1' %}

    {{
      renderComponent.keyIntro1({
        ampKeyIntro1HeadingText: block.ampKeyIntroHeadingText,
        ampKeyIntro1TextContent: block.ampKeyIntroTextContent,
        ampKeyIntro1ShowSupportBtn: block.ampKeyIntroShowSupportBtn,
        ampKeyIntro1ShowSupportButtonText: block.ampKeyIntroShowSupportButtonText,
        ampKeyIntro1InfoSections: block.children
      })
    }}

  {% case 'keyIntro2' %}

    {{
      renderComponent.keyIntro2({
        ampKeyIntro2HeadingText: block.ampKeyIntroHeadingText,
        ampKeyIntro2TextContent: block.ampKeyIntroTextContent,
        ampKeyIntro2ShowSupportBtn: block.ampKeyIntroShowSupportBtn,
        ampKeyIntro2ShowSupportButtonText: block.ampKeyIntroShowSupportButtonText,
        ampKeyIntro2InfoSections: block.children
      })
    }}

  {% case 'keyIntro3' %}

    {{
      renderComponent.keyIntro3({
        ampKeyIntro3HeadingText: block.ampKeyIntroHeadingText,
        ampKeyIntro3TextContent: block.ampKeyIntroTextContent,
        ampKeyIntro3ShowSupportBtn: block.ampKeyIntroShowSupportBtn,
        ampKeyIntro3ShowSupportButtonText: block.ampKeyIntroShowSupportButtonText,
        ampKeyIntro3InfoSections: block.children
      })
    }}

  {% case 'listings1' %}

    {{
      renderComponent.listings1({
        ampListings1Entries: block.ampListingsEntries
      })
    }}

  {% case 'listings2' %}

    {{
      renderComponent.listings2({
        ampListings2Entries: block.ampListingsEntries
      })
    }}

  {% case 'map1' %}

    {{
      renderComponent.map1({
        map1HeadingText: block.ampMapHeadingText,
        map1TextContent: block.ampMapTextContent,
        map1Settings: block.ampMapSettings
      })
    }}

  {% case 'map2' %}

    {{
      renderComponent.map2({
        map2HeadingText: block.ampMapHeadingText,
        map2TextContent: block.ampMapTextContent,
        map2Settings: block.ampMapSettings
      })
    }}

  {% case 'navigation1' %}

    {% if block.next|length %}
      {% set nextBlockType = block.next.type %}
    {% else %}
      {% set nextBlockType = '' %}
    {% endif %}

    {{
      renderComponent.navigation1({
        nav1LogoImage: siteHeader.ampGlobLogoImage,
        nav1SiteName: siteHeader.ampGlobSiteName,
        nav1NextBlockType: nextBlockType
      })
    }}

  {% case 'stats1' %}

    {{
      renderComponent.stats1({
        stats1SectionTitle: block.ampStatsSectionTitle,
        stats1HeadingText: block.ampStatsHeadingText,
        stats1TextContent: block.ampStatsTextContent,
        stats1stats: block.ampStats
      })
    }}

  {% case 'stats2' %}

    {{
      renderComponent.stats2({
        stats2SectionTitle: block.ampStatsSectionTitle,
        stats2HeadingText: block.ampStatsHeadingText,
        stats2TextContent: block.ampStatsTextContent,
        stats2stats: block.ampStats
      })
    }}

  {% case 'stats3' %}

    {{
      renderComponent.stats3({
        stats3SectionTitle: block.ampStatsSectionTitle,
        stats3HeadingText: block.ampStatsHeadingText,
        stats3TextContent: block.ampStatsTextContent,
        stats3stats: block.ampStats
      })
    }}

  {% case 'timeline1' %}

    {{
      renderComponent.timeline1({
        timeline1SectionTitle: block.ampTimelineSectionTitle,
        timeline1HeadingText: block.ampTimelineHeadingText,
        timeline1SubheadingText: block.ampTimelineSubheadingText,
        timeline1StaggeredTimelineItems: block.ampStaggeredTimelineItems
      })
    }}

  {% case 'timeline2' %}

    {{
      renderComponent.timeline2({
        timeline2SectionTitle: block.ampTimelineSectionTitle,
        timeline2HeadingText: block.ampTimelineHeadingText,
        timeline2SubheadingText: block.ampTimelineSubheadingText,
        timeline2TimelineItems: block.ampTimelineItems
      })
    }}
{#
  {% default %}

    <p>
      MISSING COMPONENT {{ block.type.handle }}
    </p>
#}
  {# end cases #}

{% endswitch %}
