{#

	Image Card

	@param {plain text} imageCardImageUrl
	@param {plain text} imageCardTitleText
	@param {plain text} imageCardTextContent
	@param {linkit} imageCardUrl

#}

{# Parameters #}
{% set imageCardImageUrl = imageCardImageUrl ?? '' %}
{% set imageCardTitleText = imageCardTitleText ?? '' %}
{% set imageCardTextContent = imageCardTextContent ?? '' %}
{% set imageCardUrl = imageCardUrl ?? null %}

{# Variables #}
{% if imageCardUrl|length and imageCardUrl.url is defined %}
	{% set cardHref = imageCardUrl.url %}
{% elseif imageCardUrl|length %}
	{% set cardHref = imageCardUrl %}
{% else %}
	{% set cardHref = '' %}
{% endif %}

{# Output #}
<div class="image-card">

	{% if cardHref != '' %}
		<a href="{{ cardHref }}"><img src="{{ imageUrl }}"></a>
	{% else %}
		<img src="{{ imageUrl }}">
	{% endif %}

	{% if cardHref != '' %}
		<div class="intro-title"><a href="{{ cardHref }}">{{ imageCardTitleText }}</a></div>
	{% else %}
		<div class="intro-title">{{ imageCardTitleText }}</div>
	{% endif %}

	{% if cardHref != '' %}
		<a href="{{ cardHref }}" class="title">{{ imageCardTextContent }}</a>
	{% else %}
		<div class="title">{{ imageCardTextContent }}</div>
	{% endif %}

</div>