{#

	Content With Image 2

	@param {plain text} contentImage2SectionTitle
	@param {plain text} contentImage2HeadingText
	@param {redactor} contentImage2TextContent
	@param {plain text} contentImage2CtaText
	@param {linkit} contentImage2CtaLink
	@param {assets} contentImage2TallImages

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set contentImage2SectionTitle = params.contentImage2SectionTitle ?? '' %}
{% set contentImage2HeadingText = params.contentImage2HeadingText ?? '' %}
{% set contentImage2TextContent = params.contentImage2TextContent ?? '' %}
{% set contentImage2CtaText = params.contentImage2CtaText ?? '' %}
{% set contentImage2CtaLink = params.contentImage2CtaLink ?? null %}
{% set contentImage2TallImages = params.contentImage2TallImages ?? null %}

{# Variables #}
{%
	set imgResize = {
		mode: 'crop',
		width: 445,
		height: 500
	}
%}

{% if contentImage2CtaLink|length %}
	{% set ctaHref = contentImage2CtaLink.url %}
{% else %}
	{% set ctaHref = '#' %}
{% endif %}

{# Output #}
<section data-component data-content-image-2>

	<div class="grid-container">

		{% if contentImage2SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ contentImage2SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x grid-margin-x">

			<div class="cell small-12 large-4 content-cell">

				<h2 class="heading">{{ contentImage2HeadingText }}</h2>

				{{ contentImage2TextContent }}

				{% if contentImage2CtaText != '' %}

					<div class="cta">
						<a href="{{ ctaHref }}" class="button button-square button-black">{{ contentImage2CtaText }}</a>
					</div>

				{% endif %}

			</div>

			<div class="cell small-12 large-8">

				<div class="grid-x grid-margin-x small-up-1 medium-up-2">

					{% for tallImage in contentImage2TallImages %}

						{% set imageUrl = imageTransform.imageTransform(tallImage, imgResize) %}

						<div class="cell image-cell">
							<img src="{{ imageUrl }}">
						</div>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</section>