{#

	Content With Image 4

	@param {plain text} contentImage4SectionTitle
	@param {dropdown} contentImage4FirstImageSide
		[
			left
			right
		]
	@param {matrix} contentImage4TallImgItems
		[
			tallImageContentItem:
			[
				headingText {plain text}
				textContent {plain text}
				tallImage {assets - image - max 1}
			]
		]

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set contentImage4SectionTitle = params.contentImage4SectionTitle ?? '' %}
{% set contentImage4FirstImageSide = params.contentImage4FirstImageSide ?? 'left' %}
{% set contentImage4TallImgItems = params.contentImage4TallImgItems ?? null %}

{# Variables #}
{%
	set imgResize = {
		mode: 'crop',
		width: 445,
		height: 500
	}
%}

{% set imageSide = contentImage4FirstImageSide %}

{# Output #}
<section data-component data-content-image-4>

	<div class="grid-container">

		{% if contentImage4SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12 large-11 large-offset-1">

					<h2 class="section-title">{{ contentImage4SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="content-wrap">

			{% for contentImage in contentImage4TallImgItems %}

				{% set imageUrl = imageTransform.imageTransform(contentImage.tallImage.one, imgResize) %}

				{% if imageSide == 'right' %}

					<div class="grid-x grid-margin-x align-middle image-right">

						<div class="cell small-12 medium-7 large-5 large-offset-1 content">

							<h2 class="heading">{{ contentImage.headingText }}</h2>

							{{ contentImage.textContent }}

						</div>

						<div class="cell small-12 medium-5 large-4 image-cell">
							<img src="{{ imageUrl }}">
						</div>

					</div>

					{% set imageSide = 'left' %}

				{% else %}

					<div class="grid-x grid-margin-x align-middle image-left">

						<div class="cell small-12 medium-5 large-4 large-offset-1 image-cell">
							<img src="{{ imageUrl }}">
						</div>

						<div class="cell small-12 medium-7 large-5 content">

							<h2 class="heading">{{ contentImage.headingText }}</h2>

							{{ contentImage.textContent }}

						</div>

					</div>

					{% set imageSide = 'right' %}

				{% endif %}

			{% endfor %}

		</div>

	</div>

</section>