{#

	Content With Links 3

	@param {plain text} contentLinks3SectionTitle
	@param {plain text} contentLinks3HeadingText
	@param {redactor} contentLinks3TextContent
	@param {matrix} contentLinks3Links
		[
			link:
			[
				linkEntry {linkit}
			]
		]
	@param {linkit} contentLinks3CtaLink

#}

{# Parameters #}
{% set contentLinks3SectionTitle = params.contentLinks3SectionTitle ?? '' %}
{% set contentLinks3HeadingText = params.contentLinks3HeadingText ?? '' %}
{% set contentLinks3TextContent = params.contentLinks3TextContent ?? '' %}
{% set contentLinks3Links = params.contentLinks3Links ?? null %}
{% set contentLinks3CtaLink = params.contentLinks3CtaLink ?? null %}

{# Variables #}
{% if contentLinks3CtaLink|length %}
	{% set ctaHref = contentLinks3CtaLink.url %}
{% else %}
	{% set ctaHref = '#' %}
{% endif %}

{# Output #}
<section data-content-with-links-3 data-component>

	<div class="grid-container">

		{% if contentLinks3SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ contentLinks3SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x">

			<div class="cell small-12 large-10">

				<h3 class="component-title">{{ contentLinks3HeadingText }}</h3>

			</div>

		</div>

		<div class="grid-x">

			{# one column #}
			<div class="cell small-12 medium-8 large-8 text-content">

				{{ contentLinks3TextContent }}

			</div>

			<div class="cell small-12 medium-4 large-3 large-offset-1 sidebar-links">

				<ul>

					{% for link in contentLinks3Links %}

						{% set linkHref = link.linkUrl.url %}

						<li><a href="{{ linkHref }}">{{ link.linkUrl.text }}</a></li>

					{% endfor %}

				</ul>

			</div>

		</div>

		{% if contentLinks3CtaLink.text != '' %}

			<div class="grid-x">

				<div class="cell small-12 large-8 cta">

					<a href="{{ ctaHref }}" class="button button-square button-black">{{ contentLinks3CtaLink.text }}</a>

				</div>

			</div>

		{% endif %}

	</div>

</section>