{#

	Contact 1

	@param {plain text} contact1HeadingText
	@param {redactor} contact1TextContent
	@param {dropdown} contact1FormSide
		[
			left
			right
		]
	@param {plain text} contact1FormHandle

#}

{# Parameters #}
{% set contact1HeadingText = params.contact1HeadingText ?? '' %}
{% set contact1TextContent = params.contact1TextContent ?? '' %}
{% set contact1FormSide = params.contact1FormSide ?? 'right' %}
{% set contact1FormHandle = params.contact1FormHandle ?? '' %}

{# Variables #}
{% if contact1HeadingText == '' and contact1TextContent == '' %}
	{% set noText = true %}
{% else %}
	{% set noText = false %}
{% endif %}

{# Output #}
<section data-component data-contact-1 class="form-left">

	<div class="grid-container">

		<div class="grid-x grid-margin-x">

			{% if contact1FormSide == 'right' and not noText %}

				<div class="cell small-12 large-7 text-content">

					<h2 class="heading">{{ contact1HeadingText }}</h2>

					{{ contact1TextContent }}

				</div>

			{% endif %}

			<div class="cell small-12 large-5 form-cell{% if noText %} large-offset-3{% endif %}">

				{{ craft.sproutForms.displayForm( contact1FormHandle ) }}

			</div>

			{% if contact1FormSide == 'left' and not noText %}

				<div class="cell small-12 large-7 text-content">

					<h2 class="heading">{{ contact1HeadingText }}</h2>

					{{ contact1TextContent }}

				</div>

			{% endif %}

		</div>

	</div>

</section>