{#

	Content 1

	@param {plain text} content1SectionTitle
	@param {plain text} content1HeadingText
	@param {dropdown} content1TextColumnsTwoThree
		[
			2
			3
		]
	@param {redactor} content1TextContent
	@param {plain text} content1CtaText
	@param {entries - max 1} content1CtaLink
	@param {plain text} content1CtaUrl

#}

{# Parameters #}
{% set content1SectionTitle = params.content1SectionTitle ?? '' %}
{% set content1HeadingText = params.content1HeadingText ?? '' %}
{% set content1TextColumnsTwoThree = params.content1TextColumnsTwoThree ?? '2' %}
{% set content1TextContent = params.content1TextContent ?? '' %}
{% set content1CtaText = params.content1CtaText ?? '' %}
{% set content1CtaLink = params.content1CtaLink ?? null %}
{% set content1CtaUrl = params.content1CtaUrl ?? '' %}

{# Variables #}
{% if content1CtaLink|length %}
	{% set ctaHref = content1CtaLink.one.url %}
{% else %}
	{% set ctaHref = content1CtaUrl %}
{% endif %}

{# Output #}
<section data-content-1 data-component>

	<div class="grid-container">

		{% if content1SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ content1SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x">

			<div class="cell small-12 large-9">

				<h3 class="component-title">{{ content1HeadingText }}</h3>

			</div>

		</div>

		<div class="grid-x">
			
			<div class="cell small-12 text-content{% if content1TextColumnsTwoThree == 'two' %} large-8 two-col{% else %} three-col{% endif %}">

				{{ content1TextContent }}

			</div>
			
		</div>

		{% if content1CtaText != '' %}

			<div class="grid-x">

				<div class="cell small-12 large-8 cta">

					<a href="{{ ctaHref }}" class="button button-square button-black">{{ content1CtaText }}</a>

				</div>

			</div>

		{% endif %}

	</div>

</section>