{#

	Content With Image 3

	@param {plain text} contentImage3SectionTitle
	@param {plain text} contentImage3HeadingText
	@param {redactor} contentImage3TextContent
	@param {plain text} contentImage3CtaText
	@param {linkit} contentImage3CtaLink
	@param {assets} contentImage3TallImages

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set contentImage3SectionTitle = params.contentImage3SectionTitle ?? '' %}
{% set contentImage3HeadingText = params.contentImage3HeadingText ?? '' %}
{% set contentImage3TextContent = params.contentImage3TextContent ?? '' %}
{% set contentImage3CtaText = params.contentImage3CtaText ?? '' %}
{% set contentImage3CtaLink = params.contentImage3CtaLink ?? null %}
{% set contentImage3TallImages = params.contentImage3TallImages ?? null %}

{# Variables #}
{%
	set imgResize = {
		mode: 'crop',
		width: 445,
		height: 500
	}
%}

{% if contentImage3CtaLink|length %}
	{% set ctaHref = contentImage3CtaLink.url %}
{% else %}
	{% set ctaHref = '#' %}
{% endif %}

{# Output #}
<section data-component data-content-image-3>

	<div class="grid-container">

		{% if contentImage3SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ contentImage3SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x align-middle grid-margin-x">

			<div class="cell small-12 large-8">

				<h2 class="heading">{{ contentImage3HeadingText }}</h2>

				{{ contentImage3TextContent }}

			</div>

			{% if contentImage3CtaText != '' %}

				<div class="cell small-12 large-4 cta">
					<a href="{{ ctaHref }}" class="button button-square button-black">{{ contentImage3CtaText }}</a>
				</div>

			{% endif %}

		</div>

		<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4 images-grid">

			{% for tallImage in contentImage3TallImages %}

				{% set imageUrl = imageTransform.imageTransform(tallImage, imgResize) %}

				<div class="cell image-cell">
					<img src="{{ imageUrl }}">
				</div>

			{% endfor %}

		</div>

	</div>

</section>