{#

	Content 3

	@param {plain text} content3SectionTitle
	@param {plain text} content3HeadingText
	@param {dropdown} content3TextColumnsOneTwo
		[
			1
			2
		]
	@param {redactor} content3TextContent
	@param {plain text} content3CtaText
	@param {entries - max 1} content3CtaLink
	@param {plain text} content3CtaUrl

#}

{# Parameters #}
{% set content3SectionTitle = params.content3SectionTitle ?? '' %}
{% set content3HeadingText = params.content3HeadingText ?? '' %}
{% set content3TextColumnsOneTwo = params.content3TextColumnsOneTwo ?? '2' %}
{% set content3TextContent = params.content3TextContent ?? '' %}
{% set content3CtaText = params.content3CtaText ?? '' %}
{% set content3CtaLink = params.content3CtaLink ?? null %}
{% set content3CtaUrl = params.content3CtaUrl ?? '' %}

{# Variables #}
{% if content3CtaLink|length %}
	{% set ctaHref = content3CtaLink.one.url %}
{% else %}
	{% set ctaHref = content3CtaUrl %}
{% endif %}

{# Output #}
<section data-content-3 data-component>

	<div class="grid-container">

		{% if content3SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ content3SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x">

			<div class="cell small-12 large-10">

				<h3 class="component-title">{{ content3HeadingText }}</h3>

			</div>

		</div>

		<div class="grid-x">

			{# one column #}
			<div class="cell small-12 text-content{% if content3TextColumnsOneTwo == 'one' %} large-8{% else %} large-10 two-col{% endif %}">

				{{ content3TextContent }}

			</div>

		</div>

		{% if content3CtaText != '' %}

			<div class="grid-x">

				<div class="cell small-12 large-8 cta">

					<a href="{{ ctaHref }}" class="button button-square button-black">{{ content3CtaText }}</a>

				</div>

			</div>

		{% endif %}

	</div>

</section>