{#

	Content With Links 1

	@param {plain text} contentLinks1SectionTitle
	@param {plain text} contentLinks1HeadingText
	@param {redactor} contentLinks1TextContent
	@param {matrix} contentLinks1Links
		[
			link:
			[
				linkUrl {linkit}
			]
		]
	@param {linkit} contentLinks1CtaLink

#}

{# Parameters #}
{% set contentLinks1SectionTitle = params.contentLinks1SectionTitle ?? '' %}
{% set contentLinks1HeadingText = params.contentLinks1HeadingText ?? '' %}
{% set contentLinks1TextContent = params.contentLinks1TextContent ?? '' %}
{% set contentLinks1Links = params.contentLinks1Links ?? null %}
{% set contentLinks1CtaLink = params.contentLinks1CtaLink ?? null %}

{# Variables #}
{% if contentLinks1CtaLink|length %}
	{% set ctaHref = contentLinks1CtaLink.url %}
{% else %}
	{% set ctaHref = '#' %}
{% endif %}

{# Output #}
<section data-component data-content-with-links-1>

	<div class="grid-container">

		{% if contentLinks1SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">Section Title</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x">

			<div class="cell small-12 large-9">

				<h3 class="component-title">{{ contentLinks1HeadingText }}</h3>

			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12 large-8 text-content two-col">

				{{ contentLinks1TextContent }}

			</div>
			
			<div class="cell small-12 large-4 sidebar-links">

				<ul>

					{% for link in contentLinks1Links %}

						{% if link.linkUrl.text is defined and link.linkUrl.text != '' %}

							{% set linkHref = link.linkUrl.url %}

							<li><a href="{{ linkHref }}">{{ link.linkUrl.text }}</a></li>

						{% endif %}

					{% endfor %}

				</ul>

			</div>

		</div>

		{% if contentLinks1CtaLink.text is defined and contentLinks1CtaLink.text != '' %}

			<div class="grid-x">

				<div class="cell small-12 large-8 cta">

					<a href="{{ ctaHref }}" class="button button-square button-black">{{ contentLinks1CtaLink.text }}</a>

				</div>

			</div>

		{% endif %}

	</div>

</section>