{#

	Footer Columns

	@param {redactor} footerColsColumnOneText
	@param {redactor} footerColsColumnTwoText
	@param {redactor} footerColsColumnThreeText
	@param {matrix} footerColsSocialLinks
		[
			socialLink:
			[
				socialNetwork {dropdown}
					[
						twitter
						facebook
						wikipedia
						linkedin
						google
						youtube
						instagram
						pinterest
						github
						vimeo
					]
				socialLinkUrl {plain text}
			]
		]

#}

{# Parameters #}
{% set footerColsColumnOneText = params.footerColsColumnOneText ?? '' %}
{% set footerColsColumnTwoText = params.footerColsColumnTwoText ?? '' %}
{% set footerColsColumnThreeText = params.footerColsColumnThreeText ?? '' %}
{% set footerColsSocialLinks = params.footerColsSocialLinks ?? null %}

{# Output #}
<footer data-footer-columns data-component>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 large-3">

				{{ footerColsColumnOneText }}

			</div>

			<div class="cell small-12 large-3">

				{{ footerColsColumnTwoText }}
				
			</div>

			<div class="cell small-12 large-3">

				{{ footerColsColumnThreeText }}
				
			</div>

			<div class="cell small-12 large-3">
				
				<div class="social-links">

					{% for socialLink in footerColsSocialLinks %}

						<a href="{{ socialLink.socialLinkUrl }}"><span class="icon social {{ socialLink.socialNetwork }}">{{ socialLink.socialNetwork }}</span></a>

					{% endfor %}

				</div>
				
			</div>

		</div>

	</div>

</footer>