{#

	Icons 2

	@param {plain text} icons2SectionTitle
	@param {plain text} icons2HeadingText
	@param {plain text} icons2SubheadingText
	@param {matrix} icons2IconItems
		[
			iconItem:
			[
				icon {assets - image - max 1}
				text {plain text}
			]
		]

#}

{# Macros #}
{% import 'authenticamplify/_macros/_image-transform' as imageTransform %}

{# Parameters #}
{% set icons2SectionTitle = params.icons2SectionTitle ?? '' %}
{% set icons2HeadingText = params.icons2HeadingText ?? '' %}
{% set icons2SubheadingText = params.icons2SubheadingText ?? '' %}
{% set icons2IconItems = params.icons2IconItems ?? null %}

{# Variables #}
{%
	set iconImgResize = {
		mode: 'fit',
		width: 50,
		height: 50
	}
%}

{# Output #}
<section data-component data-icons-2>

	<div class="grid-container">

		{% if icons2SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ icons2SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x grid-margin-x">

			<div class="cell small-12 large-6">

				<h2 class="heading">{{ icons2HeadingText }}</h2>

				{% if icons2SubheadingText != '' %}

					<h3 class="subheading">{{ icons2SubheadingText }}</h3>

				{% endif %}

			</div>

			<div class="cell small-12 large-6">

				<div class="grid-x grid-margin-x small-up-1 medium-up-2">

					{% for iconItem in icons2IconItems %}

						{% set iconImageUrl = imageTransform.imageTransform(iconItem.icon.one, iconImgResize) %}

						<div class="cell icon-item">

							<div class="icon">
								<img src="{{ iconImageUrl }}">
							</div>

							<p class="item-text">
								{{ iconItem.text }}
							</p>

						</div>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</section>