{#

	Key + Intro 1

	@param {plain text} ampKeyIntro1HeadingText
	@param {redactor} ampKeyIntro1TextContent
	@param {lightswitch} ampKeyIntro1ShowSupportBtn
	@param {plain text} ampKeyIntro1ShowSupportButtonText
	@param {neo blocks} ampKeyIntro1InfoSections
		[
			ampKeyIntroInfoSectionHeading {plain text}
			ampKeyIntroInfoItems {matrix}
			[
				textItem:
				[
					titleText {plain text}
					infoText {plain text}
				]
				linkItem:
				[
					titleText {plain text}
					linkText {plain text}
					linkUrl {plain text}
				]
				assetItem:
				[
					titleText {plain text}
					assetLinkText {plain text}
					assetFile {asset - max 1}
				]
			]
		]

#}

{# Parameters #}
{% set ampKeyIntro1HeadingText = params.ampKeyIntro1HeadingText ?? '' %}
{% set ampKeyIntro1TextContent = params.ampKeyIntro1TextContent ?? '' %}
{% set ampKeyIntro1ShowSupportBtn = params.ampKeyIntro1ShowSupportBtn ?? false %}
{% set ampKeyIntro1ShowSupportButtonText = params.ampKeyIntro1ShowSupportButtonText ?? 'Show Your Support' %}
{% set ampKeyIntro1InfoSections = params.ampKeyIntro1InfoSections ?? null %}

{# Variables #}
{% if ampKeyIntro1ShowSupportButtonText != '' %}
	{% set supportBtnText = ampKeyIntro1ShowSupportButtonText %}
{% else %}
	{% set supportBtnText = 'Show Your Support' %}
{% endif %}

{% do craft.upvote.setIcons({
    up   : '<button class="button button-square button-black show-support-btn" type="button">' ~ supportBtnText ~ '</button>',
}) %}

{# Output #}
<section data-component data-key-intro-1>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 large-5 left">

				<div class="key-info">

					{% for infoSection in ampKeyIntro1InfoSections %}

						<h3 class="key-heading">{{ infoSection.ampKeyIntroInfoSectionHeading }}</h3>

						<table class="info-table">

							{% for infoRow in infoSection.ampKeyIntroInfoItems %}

								{% if infoRow.type == 'textItem' %}

									<tr>
										<td>{{ infoRow.titleText }}</td>
										<td>{{ infoRow.infoText|nl2br }}</td>
									</tr>

								{% elseif infoRow.type == 'linkItem' %}

									<tr>
										<td>{{ infoRow.titleText }}</td>
										<td>
											<a class="project-plan-link" href="{{ infoRow.linkUrl }}">{{ infoRow.linkText }}</a>
										</td>
									</tr>

								{% elseif infoRow.type == 'assetItem' %}

									<tr>
										<td>{{ infoRow.titleText }}</td>
										<td>
											<a target="_blank" class="project-plan-link" href="{{ infoRow.assetFile.one.url }}">{{ infoRow.assetLinkText }}</a>
										</td>
									</tr>

								{% endif %}

							{% endfor %}

						</table>

						{% if not loop.last %}
							<hr>
						{% endif %}

					{% endfor %}

				</div>

			</div>

			<div class="cell small-12 large-7 right">

				<h2 class="heading">{{ ampKeyIntro1HeadingText }}</h2>

				{{ ampKeyIntro1TextContent }}

				{% if ampKeyIntro1ShowSupportBtn %}

					<div class="cta-row">

						{{ craft.upvote.upvote('1') }}

						<div class="current-support">
							{{ craft.upvote.tally('1') }} Current Supporters
						</div>

					</div>

				{% endif %}

			</div>

		</div>

	</div>

</section>