{#

	Key + Intro 3

	@param {plain text} ampKeyIntro3HeadingText
	@param {redactor} ampKeyIntro3TextContent
	@param {neo blocks} ampKeyIntro3InfoSections
		[
			ampKeyIntroInfoSectionHeading {plain text}
			ampKeyIntroInfoItems {matrix}
			[
				textItem:
				[
					titleText {plain text}
					infoText {plain text}
				]
				linkItem:
				[
					titleText {plain text}
					linkText {plain text}
					linkUrl {linkit}
				]
			]
		]

#}

{# Parameters #}
{% set ampKeyIntro3HeadingText = params.ampKeyIntro3HeadingText ?? '' %}
{% set ampKeyIntro3TextContent = params.ampKeyIntro3TextContent ?? '' %}
{% set ampKeyIntro3InfoSections = params.ampKeyIntro3InfoSections ?? null %}

{# Output #}
<section data-component data-key-intro-3>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 medium-12 large-5 large-offset-1">

				<h2 class="heading">{{ ampKeyIntro3HeadingText }}</h2>

			</div>

		</div>


		<div class="grid-x">

			<div class="cell small-12 medium-12 large-5 large-offset-1">

				{{ ampKeyIntro3TextContent }}

			</div>

			<div class="cell small-12 medium-12 large-5 large-offset-1 table-cell">

				<div class="grid-x grid-margin-x">

					{% for infoSection in ampKeyIntro3InfoSections %}

						<div class="cell small-12 medium-6 large-12">

							<h3 class="key-heading">{{ infoSection.ampKeyIntroInfoSectionHeading }}</h3>

							<table class="info-table">

								{% for infoRow in infoSection.ampKeyIntroInfoItems %}

									{% if infoRow.type == 'textItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>{{ infoRow.infoText|nl2br }}</td>
										</tr>

									{% elseif infoRow.type == 'linkItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>
												<a class="project-plan-link" href="{{ infoRow.linkUrl.url }}">{{ infoRow.linkText }}</a>
											</td>
										</tr>

									{% endif %}

								{% endfor %}

							</table>

						</div>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</section>