{#

	Key + Intro 2

	@param {plain text} ampKeyIntro2HeadingText
	@param {redactor} ampKeyIntro2TextContent
	@param {lightswitch} ampKeyIntro2ShowSupportBtn
	@param {plain text} ampKeyIntro2ShowSupportButtonText
	@param {neo blocks} ampKeyIntro2InfoSections
		[
			ampKeyIntroInfoSectionHeading {plain text}
			ampKeyIntroInfoItems {matrix}
			[
				textItem:
				[
					titleText {plain text}
					infoText {plain text}
				]
				linkItem:
				[
					titleText {plain text}
					linkText {plain text}
					linkUrl {plain text}
				]
				assetItem:
				[
					titleText {plain text}
					assetLinkText {plain text}
					assetFile {asset - max 1}
				]
			]
		]

#}

{# Parameters #}
{% set ampKeyIntro2HeadingText = params.ampKeyIntro2HeadingText ?? '' %}
{% set ampKeyIntro2TextContent = params.ampKeyIntro2TextContent ?? '' %}
{% set ampKeyIntro2ShowSupportBtn = params.ampKeyIntro2ShowSupportBtn ?? false %}
{% set ampKeyIntro2ShowSupportButtonText = params.ampKeyIntro2ShowSupportButtonText ?? 'Show Your Support' %}
{% set ampKeyIntro2InfoSections = params.ampKeyIntro2InfoSections ?? null %}

{# Variables #}
{% if ampKeyIntro2ShowSupportButtonText != '' %}
	{% set supportBtnText = ampKeyIntro2ShowSupportButtonText %}
{% else %}
	{% set supportBtnText = 'Show Your Support' %}
{% endif %}

{% do craft.upvote.setIcons({
    up   : '<button class="button button-square button-black show-support-btn" type="button">' ~ supportBtnText ~ '</button>',
}) %}

{# Output #}
<section data-component data-key-intro-2>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 medium-9 large-7 large-offset-1">

				<h2 class="heading">{{ ampKeyIntro2HeadingText }}</h2>

			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12 medium-7 large-5 large-offset-1">

				{{ ampKeyIntro2TextContent }}

			</div>

			{% if ampKeyIntro2ShowSupportBtn %}

				<div class="cell small-12 medium-5 large-3 large-offset-1">

					<div class="cta-row">
						
						{{ craft.upvote.upvote('1') }}

						<div class="current-support">
							{{ craft.upvote.tally('1') }} Current Supporters
						</div>
						
					</div>

				</div>

			{% endif %}

			<div class="cell small-12 medium-9 large-8 large-offset-1">
				<hr>
			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12 large-11 large-offset-1">

				<div class="grid-x">

					{% for infoSection in ampKeyIntro2InfoSections %}

						<div class="cell small-12 medium-auto table-cell">

							<h3 class="key-heading">{{ infoSection.ampKeyIntroInfoSectionHeading }}</h3>

							<table class="info-table">

								{% for infoRow in infoSection.ampKeyIntroInfoItems %}

									{% if infoRow.type == 'textItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>{{ infoRow.infoText|nl2br }}</td>
										</tr>

									{% elseif infoRow.type == 'linkItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>
												<a class="project-plan-link" href="{{ infoRow.linkUrl }}">{{ infoRow.linkText }}</a>
											</td>
										</tr>

									{% elseif infoRow.type == 'assetItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>
												<a target="_blank" class="project-plan-link" href="{{ infoRow.assetFile.one.url }}">{{ infoRow.assetLinkText }}</a>
											</td>
										</tr>

									{% endif %}

								{% endfor %}

							</table>

						</div>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</section>