{#

	Key + Intro 3

	@param {plain text} ampKeyIntro3HeadingText
	@param {redactor} ampKeyIntro3TextContent
	@param {lightswitch} ampKeyIntro3ShowSupportBtn
	@param {plain text} ampKeyIntro3ShowSupportButtonText
	@param {neo blocks} ampKeyIntro3InfoSections
		[
			ampKeyIntroInfoSectionHeading {plain text}
			ampKeyIntroInfoItems {matrix}
			[
				textItem:
				[
					titleText {plain text}
					infoText {plain text}
				]
				linkItem:
				[
					titleText {plain text}
					linkText {plain text}
					linkUrl {plain text}
				]
				assetItem:
				[
					titleText {plain text}
					assetLinkText {plain text}
					assetFile {asset - max 1}
				]
			]
		]

#}

{# Parameters #}
{% set ampKeyIntro3HeadingText = params.ampKeyIntro3HeadingText ?? '' %}
{% set ampKeyIntro3TextContent = params.ampKeyIntro3TextContent ?? '' %}
{% set ampKeyIntro3ShowSupportBtn = params.ampKeyIntro3ShowSupportBtn ?? false %}
{% set ampKeyIntro3ShowSupportButtonText = params.ampKeyIntro3ShowSupportButtonText ?? 'Show Your Support' %}
{% set ampKeyIntro3InfoSections = params.ampKeyIntro3InfoSections ?? null %}

{# Variables #}
{% if ampKeyIntro3ShowSupportButtonText != '' %}
	{% set supportBtnText = ampKeyIntro3ShowSupportButtonText %}
{% else %}
	{% set supportBtnText = 'Show Your Support' %}
{% endif %}

{% do craft.upvote.setIcons({
    up   : '<button class="button button-square button-black show-support-btn" type="button">' ~ supportBtnText ~ '</button>',
}) %}

{# Output #}
<section data-component data-key-intro-3>

	<div class="grid-container">

		<div class="grid-x">

			<div class="cell small-12 medium-12 large-5 large-offset-1">

				<h2 class="heading">{{ ampKeyIntro3HeadingText }}</h2>

			</div>

		</div>


		<div class="grid-x">

			<div class="cell small-12 medium-12 large-5 large-offset-1">

				{{ ampKeyIntro3TextContent }}

				{% if ampKeyIntro3ShowSupportBtn %}

					<div class="cta-row">

						{{ craft.upvote.upvote('1') }}
						
						<div class="current-support">
							{{ craft.upvote.tally('1') }} Current Supporters
						</div>
						
					</div>

				{% endif %}

			</div>

			<div class="cell small-12 medium-12 large-5 large-offset-1 table-cell">

				<div class="grid-x grid-margin-x">

					{% for infoSection in ampKeyIntro3InfoSections %}

						<div class="cell small-12 medium-6 large-12">

							<h3 class="key-heading">{{ infoSection.ampKeyIntroInfoSectionHeading }}</h3>

							<table class="info-table">

								{% for infoRow in infoSection.ampKeyIntroInfoItems %}

									{% if infoRow.type == 'textItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>{{ infoRow.infoText }}</td>
										</tr>

									{% elseif infoRow.type == 'linkItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>
												<a class="project-plan-link" href="{{ infoRow.linkUrl }}">{{ infoRow.linkText }}</a>
											</td>
										</tr>

									{% elseif infoRow.type == 'assetItem' %}

										<tr>
											<td>{{ infoRow.titleText }}</td>
											<td>
												<a target="_blank" class="project-plan-link" href="{{ infoRow.assetFile.one.url }}">{{ infoRow.assetLinkText }}</a>
											</td>
										</tr>

									{% endif %}

								{% endfor %}

							</table>

						</div>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</section>