{#

	Modal AR 1

	@param {plain text} modalAr1HeadingText
	@param {asset - image - max 1} modalArStep1Image
	@param {plain text} modalArStep1Text
	@param {plain text} modalArStep2Token
	@param {plain text} modalArStep2Text
	@param {plain text} modalAr1FinePrint

#}

{# Parameters #}
{% set modalAr1HeadingText = params.modalAr1HeadingText ?? '' %}
{% set modalArStep1Image = params.modalArStep1Image ?? null %}
{% set modalArStep1Text = params.modalArStep1Text ?? '' %}
{% set modalArStep2Token = params.modalArStep2Token ?? '' %}
{% set modalArStep2Text = params.modalArStep2Text ?? '' %}
{% set modalAr1FinePrint = params.modalAr1FinePrint ?? '' %}

{# Variables #}
{%
	set stepImgResize = {
		mode: 'fit',
		width: 120,
		height: 120
	}
%}

{# Output #}
<section data-modal-ar-1>

	<div class="background-overlay"></div>

	<div class="modal">

		<h2 class="heading">{{ modalAr1HeadingText }}</h2>

		<div class="steps">

			{# step 1 #}

			{% set stepImageUrl = craft.imager.transformImage(modalArStep1Image.one, stepImgResize).url %}

			<div class="step">

				<div class="image">
					<img src="{{ stepImageUrl }}">
				</div>

				<div class="instructions">
					<p>
						<strong>Step 1</strong> - {{ modalArStep1Text }}
					</p>
				</div>

			</div>

			{# step 2 #}

			<div class="step">

				<div class="qrcode js_qrcode" data-token="{{ modalArStep2Token }}">
					<canvas></canvas>
				</div>

				<div class="instructions">
					<p>
						<strong>Step 2</strong> - {{ modalArStep2Text }}
					</p>
				</div>

			</div>

		</div>

		<div class="fine-print">
			{{ modalAr1FinePrint }}
		</div>

	</div>

</section>