{#

	Stats 1

	@param {plain text} stats1SectionTitle
	@param {plain text} stats1HeadingText
	@param {redactor} stats1TextContent
	@param {matrix} stats1stats
		[
			stat:
			[
				number {plain text}
				statTitle {plain text}
				text {plain text}
			]
		]

#}

{# Parameters #}
{% set stats1SectionTitle = params.stats1SectionTitle ?? '' %}
{% set stats1HeadingText = params.stats1HeadingText ?? '' %}
{% set stats1TextContent = params.stats1TextContent ?? '' %}
{% set stats1stats = params.stats1stats ?? null %}

{# Output #}
<section data-stats-1 data-component>

	<div class="grid-container">

		{% if stats1SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ stats1SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x">

			<div class="cell small-12 large-10">

				<h3 class="component-title">{{ stats1HeadingText }}</h3>

			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12 large-6 text-content">

				{{ stats1TextContent }}

			</div>

			<div class="cell small-12 large-6">

				<div class="grid-x small-up-1 medium-up-2">

					{% for stat in stats1stats %}

						<div class="cell stat-item">

							<div class="number">{{ stat.number }}</div>

							<div class="title">{{ stat.statTitle }}</div>

							<div class="subtext">{{ stat.text }}</div>

						</div>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</section>