{#

	Stats 3

	@param {plain text} stats3SectionTitle
	@param {plain text} stats3HeadingText
	@param {redactor} stats3TextContent
	@param {matrix} stats3stats
		[
			stat:
			[
				number {plain text}
				statTitle {plain text}
				text {plain text}
			]
		]

#}

{# Parameters #}
{% set stats3SectionTitle = params.stats3SectionTitle ?? '' %}
{% set stats3HeadingText = params.stats3HeadingText ?? '' %}
{% set stats3TextContent = params.stats3TextContent ?? '' %}
{% set stats3stats = params.stats3stats ?? null %}

{# Output #}
<section data-stats-3 data-component>

	<div class="grid-container">

		{% if stats3SectionTitle != '' %}

			<div class="grid-x">

				<div class="cell small-12">

					<h2 class="section-title">{{ stats3SectionTitle }}</h2>

				</div>

			</div>

		{% endif %}

		<div class="grid-x top-row">

			<div class="cell small-12 large-4">

				<h3 class="component-title">{{ stats3HeadingText }}</h3>

			</div>

			<div class="cell small-12 large-8 text-content">

				{{ stats3TextContent }}

			</div>

		</div>

		<div class="grid-x">

			<div class="cell small-12">

				<div class="grid-x small-up-1 medium-up-2">

					{% for stat in stats3stats %}

						<div class="cell stat-item">

							<div class="number">{{ stat.number|nl2br }}</div>

							<div class="title">{{ stat.statTitle }}</div>

							<div class="subtext">{{ stat.text }}</div>

						</div>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

</section>